<div class="text-center">
  <h3>Este es el componente del product</h3>
</div>
<div class="grid grid-cols-3 bg-white gap-8">
  <app-product [title]="'Producto padre'" [price]=20 [imgpadre]="'https://picsum.photos/200/300'" />
  <app-product [title]="'Producto padre'" [price]=20 [imgpadre]="'https://picsum.photos/200/300'"/>
  <app-product [title]="'Producto padre'" [price]=20 [imgpadre]="'https://picsum.photos/200/300'"/>
  <app-product [title]="'Producto padre'" [price]=20 [imgpadre]="'https://picsum.photos/200/300'"/>
</div>
